@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|Rubik:700');
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

@font-face {
  font-family: 'noto';
  src: url(../fonts/NotoSansBengali.ttf);
}
@font-face {
  font-family: 'notoBold';
  src: url(../fonts/NotoSansBengaliBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: url(../food_images/img1.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'noto', sans-serif;
}

.active { color: #0be881; }

.lightgreen { background-color: #0be881; }
.deepgreen { background-color: #06a85d; }
.midnightColor { background-color: #2c3e50; }
.midnightColorDark { background-color: #17202b; }
.lightred { background-color: #ff3f34; }
.lightyellow { background-color: #ffdd59; }
.flr { float: right; }
.fll { float: left; }


.top-content {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.brand {
  width: 100%;
  height: 110px;
  background: #2c3e50;
  font-size: 4rem;
  font-family: 'noto';
  text-align: center;
  padding-top: 0.8rem;
  border-bottom: 4px solid #ffdd59;
}
.brand img {
  position: fixed;
  top: 6%;
  left: 40%;
  width: 65px;
  transform: translate(-50%, -50%);
}
.brand h1 {
  position: fixed;
  top: 7%;
  left: 51%;
  color: #C8E000;
  transform: translate(-50%, -50%);
  font-weight: bold;
}


.top-content nav {
  width: 75%;
  background-color: #2c3e50;
  margin: -30px auto;
  position: relative;
  text-align: center;
  /* box-shadow: 0 0px 25px #06a85d;  */
  box-shadow: 0 5px 25px #000102;
  border-left: 4px solid #ffdd59;
  border-right: 4px solid #ffdd59;
}
.top-content nav ul {
  list-style: none;
  margin: auto;
}
.top-content nav ul li {
  display: inline-block;
  line-height: 20px;
}
.top-content nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'noto', sans-serif;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.5rem;
  transition: all 400ms ease-out;
  outline: none;
  font-weight: normal;
}
.top-content nav ul li a:hover {
  transform: scale(1.3);
  color: #ffdd59;
}
.navbar-nav li a.active { 
  color: #C8E000; 
  text-transform: capitalize;
  font-family: 'noto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.main-content {
  margin-top: 160px;
  position: relative;
}

.showcase {
  background-image: url(../food_images/img3.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 5rem;
  /* border-left: 7px solid #0be881;
  border-right: 7px solid #0be881; */
  border-radius: 10px;
  box-shadow: 0 0px 10px #C8E000;
}
.main-content .showcase h5 {
  font-family: 'noto', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffdd59;
}
.main-content .showcase h1 a {
  font-family: 'noto', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  text-decoration: none;
  color: #C8E000;
}
.main-content .showcase h1:hover a {
  color: #ffdd59;
}
.main-content .showcase h6 {
  font-size: 1.2rem;
  font-family: 'noto', sans-serif;
}

.product {
  position: relative;
  font-family: 'noto', sans-serif;
}
.product-title {
  background: #f9fcff;
  border-bottom: 5px solid #06a85d;
}
.product-title h3 {
  color: black;
  margin: 0;
  width: 220px;
  line-height: 50px;
  background-color: #0be881;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'noto', sans-serif;
}
.product h2 {
  font-family: 'noto', sans-serif;
  font-size: 1.2rem;
}
.product img {
  width: 100%;
  height: 144px;
}
.product .row .col {
    margin: 2rem auto;
}

.product .card {
  -webkit-transition: all 400ms ease;
  -moz-transition: all  400ms ease;
  -ms-transition: all  400ms ease;
  -o-transition: all  400ms ease;
  transition: all  400ms ease;
  transform: scale(1);
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}
.product .card:hover {
  transform: scale(0.95);
}
.product .food-name {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  color: #000;
  font-weight: bold;

}
.product p.food-price {
  font-family: 'noto', sans-serif;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  font-weight: bold;
}

.category, .left-food-item {
  background: #f9fcff;
  border: 4px solid #17202b;
  border-radius: 10px;
}
.category h3 {
  font-weight: bold;
  padding: 0;
}
.category ul {
  margin: 0;
  padding: 0;
}
.category ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.category ul li a {
  text-decoration: none;
  line-height: 50px;
  font-family: 'noto', sans-serif;
  color: #17202b;
  display: block;
  transition: all 400ms ease;
  transform: scale(0.9);
  font-size: 1.2rem;
  border-bottom: 0.2px solid #2c3e5088;
}
.category ul li:hover a {
  background: #ff3f34;
  transform: scale(1);
  color: white;
  border: 0;
  animation: left;
}
.category h3 {
  font-family: 'noto', sans-serif;
  color: #17202b;
}


.map iframe {
  width: 100%;
  height: 410px;
  position: relative;
  padding: 0;
}
.subscription {
  width: 90%;
  padding: 1rem;
  background-color: #0be881;
  text-align: center;
  border-radius: 5px;
}
::placeholder {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'noto', 'Quicksand', sans-serif;
}
.subscription .input-group {
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}
.subscription .input-group input {
  border-radius: 3px 0 0 3px;
}
.subscription .input-group a.btn {
  border-radius: 0 3px 3px 0;
  font-size: 0.9rem;
}

.footer {
  margin-top: -6px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #2c3e50;
  color: white;
  position: relative;
}

.footer i {
  font-size: 1.5rem;
  padding-right: 0.9rem;
}
.footer .social-link ul, .footer .cuisine ul {
  list-style: none;
  padding: 0;
  float: left;
}
.footer .social-link ul li {
  display: inline-block;
}
.footer h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'noto', sans-serif;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer address {
  font-size: 0.9rem;
  line-height: 1.6;
}
/* /////////////////////////////////// */

.profileDetails {
  width: 50%;
  margin: 1rem auto;
}
.profileDetails .card {
  margin-bottom: 20px;
}

.profileDetails table {
  width: 100%;
  font-size: 1rem;
  font-family: 'noto', sans-serif;
  margin: 1rem 0;
}

.profileDetails .card ul li {
list-style: none;
line-height: 40px;
}
.profileDetails .card h1, .profile .card h1 {
  font-family: 'noto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 3px solid #17202b;
  font-size: 2rem;
  margin: 0;
}
.profileDetails .card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 2rem;
  font-family: 'noto', sans-serif;
}
.profileDetails .alert {
  padding: 0.5rem 0;
}
.profileDetails .alert strong {
  font-family: 'noto', sans-serif;
  text-align: center;
  font-size: 1.8rem;
}
.profileDetails table {
  width: 100%;
}
.profileDetails .card table th {
  padding: 0.5rem 0;
  font-family: 'noto', sans-serif;
  width: 40%;
}
.profileDetails .card table tr td {
  width: 60%;
  font-family: 'noto', sans-serif;
}
.profileDetails .btn {
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 1rem;
  font-family: 'noto', sans-serif;
}
.profileDetails .orderForm, .profileDetails form {
  width: 100%;
  margin: auto;
}
.profileDetails .img-thumbnail {
  height: 350px;
  margin-top: 1rem;
}
.profileDetails h5 {
  font-family: 'noto', sans-serif;
}
.profileDetails p {
  font-family: 'noto', sans-serif;
  font-size: 1rem;
  padding: 0;
}
.profile {
  width: 476px;
  margin: auto;
}
.profile .card form {
  width: 100%;
  margin: auto;
}
.profile table th {
  width: 50%;
  padding-bottom: 1rem;
}
.profile table td {
  width: 50%;
  padding-bottom: 1rem;
}
.profile label {
  font-family: 'noto', sans-serif;
}
.profile .btn {
  font-family: 'noto', sans-serif;
  width: 100%;
}


/* ///////////////////////////////////// */

/* RESPONSIVE DESIGN */

/* ///////////////////////////////////// */
@media only screen and (max-width: 768px) {
  .brand img {
    top: 6.5%;
    left: 35%;
  }
  .brand h1 {
    top: 7%;
    left: 54%;
  }
  .top-content nav ul li a {
    line-height: 35px;
    border-top: 1px solid #23354b;
  }
  .top-content nav ul li a:hover {
    transform: scale(1);
  }
  .main-content .showcase h5 {
    font-size: 2rem;
    margin: 1rem;
  }
  .main-content .showcase h1 a {
    font-size: 3rem;
  }
  .profileDetails {
    width: 476px;
    margin: auto;
  }
  .food-name {
    padding-bottom: 0;
  }
  .left-food-item .card a.btn {
    font-size: 0.8rem;
  }
  .profileDetails .img-thumbnail {
    height: 250px;
  }
  .profileDetails .card  h1 {
    font-size: 1.4rem;
  }
  .profileDetails form {
    width: 100%;
    margin: 0;
  }
  .profileDetails h2 {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  .profileDetails h5 {
    font-size: 1.1rem;
    padding: 0;
  }
  .profileDetails p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
  .profileDetails a.btn {
    font-size: 0.8rem;
  }
  .profileDetails .alert strong {
    font-size: 1.5rem;
  }
  .profileDetails table {
    margin: 1rem auto;
    width: 100%;
  }
  .profileDetails table tr {
    font-size: 0.9rem;
  }
  .footer {
    padding-top: 1.5rem;
  }
  .footer h2 {
    font-size: 1.5rem;
  }
  .footer .social-link address {
    font-family: 'Quicksand', sans-serif;
  }
  .footer .social-link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .top-content nav {
    width: 100%;
  }
  .brand img {
    top: 6%;
    left: 70px;
  }
  .brand h1 {
    position: relative;
    top: 30px;
    left: 200px;
  }
  .main-content .showcase {
    height: 300px;
  }
  .top-content nav ul {
    margin-top: 1rem;
  }
  .top-content nav ul li a {
    line-height: 35px;
    border-top: 1px solid #23354b;
    font-size: 1rem;
  }
  .top-content nav ul li a:hover {
    transform: scale(1.0);
  }
  .main-content .showcase {
    box-shadow: 0px 0px 5px rgba(202, 224, 0, 0.603); 
  }
  .main-content .showcase h5 {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
  }
  .main-content .showcase h1 a {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .main-content .showcase h6{
    font-size: 0.9rem;
  }
  .main-content form.search {
    width: 80%;
  }
  .product-title h3 {
    width: 100%;
  }
  .product img {
    height: 180px;
  }
  .product .card:hover {
    transform: scale(1);
  }
  .product .food-name {
    font-size: 1.2rem;
    padding-top: 1rem;
    margin: 0;
  }
  .product p.food-price, .product b {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    font-weight: normal;
  }
  .product .btn {
    width: 49%;
  }
  .pagination {
    width: 50%;
    margin: auto;
  }
  .subscription {
    margin: 2rem auto;
  }
  .footer {
    text-align: center;
  }
  .social-link ul{
    text-align: center;
    margin-left: 100px;
  }
  .profileDetails, .profile {
    width: 325px;
    margin: auto;
  }
  .profileDetails .card h1 {
    font-size: 1rem;
    text-align: left;
  }
  .profileDetails .img-thumbnail {
    height: 180px;
    margin: 1rem 0;
  }
  .profileDetails table, .profile table {
    width: 100%;
    margin: auto;
  }
  .profileDetails tr, .profile tr {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .profileDetails tr th, .profile tr th,
  .profileDetails tr td, .profile tr td {
    font-size: 12px;
    margin-top: 1rem;
  }
  .profileDetails .card table th {
    width: 50%;
  }
  .profileDetails .card table tr td {
    width: 50%;
  }
  .profileDetails .alert strong {
    font-size: 1.2rem;
  }
  .profile .card form {
    width: 100%;
  }
  .profile .card h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .profileDetails .card h2 {
    font-size: 1rem;
    padding-top: 0;
  }
  .profileDetails .card h5 {
    font-size: 0.8rem;
    padding-top: 0;
  }
  .profileDetails .card p {
    font-size: 0.8rem;
    padding-top: 0;
  }
  .profileDetails .card a.btn {
    font-size: 0.8rem;
    width: 100%;
    margin: 0;
  }
  .profileDetails form {
    width: 100%;
  }
  .developer p {
    font-size: 0.9rem;
  }
  .profileDetails .card form.orderForm {
    width: 100%;
  }
}