{% extends "admin/base.html" %}

{% block title %}FOOD ADMIN LOGIN {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">ঘরোয়া খাবার এডমিন</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}