{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <title>{% block title %}{% endblock %}</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'food_images' %}">

  <style>
  </style>

</head>
<body class="bg-dak">

    <div class="top-content">
      <div class="container-fluid brand">

        <h1 class="fll pt-2">ঘরের খাবার</h1>
      </div>
        <!---- NavBar ---->
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span><i class="fa fa-bars text-white"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li><a href="{% url 'home' %}"> <i class="fa fa-home"></i> হোম</a></li>
{#                <li><a href="{% url 'all-food-items' %}">সব আইটেম</a></li>#}
                <li><a href="{% url 'delivery-point' %}">ডেলিভারি-পয়েন্ট</a></li>
    
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'add-items' %}">নতুন আইটেম যোগ করুন</a></li>
                <li><a class="active" href="{% url 'profile' %}"> {{ request.user.username }} </a></li>
                <li><a class="active" href="{% url 'logout' %}">সাইন-আউট</a></li>
                {% else %}
                <li><a class="active" href="{% url 'signup' %}">লগইন/রেজিস্ট্রেশন</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <!---- NavBar ---->
    </div>

   {% block content %}

   {% endblock %}

<!---- Footer ---->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2 class="">সাবস্ক্রাইব করুন</h2> <hr>
            <div class="subscription lightgreen">
                <form>
                  <div class="input-group">
                    <input name="email" type="text" class="form-control" placeholder='আপনার ই-মেইল লিখুন...'>
                    <a class="btn btn-danger pb-2" href="#" type="button">সাবস্ক্রাইব</a>
                  </div>
                </form>
              </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="social-link">
            <h2 class="">যোগাযোগ</h2> <hr>

            <ul>
              <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://github.com/"><i class="fab fa-github"></i></a></li>
              <li><a href="https://bitbucket.org/"><i class="fab fa-bitbucket"></i></a></li>
              <li><a href="https://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="developer text-center lightgreen">
    <p class="py-2 m-0 text-dark">Copyright ©2018 all rights reserved |<span style='font-weight: bold; color: orangered'> DevsCave </span> </p>
  </div> -->
<!---- Footer ---->

  <!-- script -->
  <script src="{% static 'script/profile.js' %}"></script>
  <script src="{% static 'script/uploadImage.js' %}"></script>
  <!-- script -->
</body>
</html>